@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu+Condensed&display=swap');

$color-fondo: #efba9b;
.page {
    background-color: $color-fondo;
    width: 100%;
    // font-family: "Press Start 2P", cursive;
    font-size: 8px;
  }

  .card {
  
    h5 {
      margin-top: 10px;
      margin-left: 10px;
    }
    b {
      margin-left: 10px;
    }
  }